{% extends 'base.html.twig' %}
{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Send Message</a></li>
            </ul>
        </div>
    </div>
    <!-- Login Start -->
    {{ form_start(form) }}
    <div class="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.username, { 'label':'username', 'attr': {'placeholder':'Your Name...' } }) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.email, { 'attr': { 'placeholder': 'Your E-mail...' } } ) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_row(form.subject, { 'attr': { 'placeholder': 'subject...' } } ) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.message, { 'attr': { 'placeholder': 'message...' } } ) }}
                            </div>
                            <div class="col-md-12">
                                {{ form_row(form.submit, {'attr': {'class':"btn" ,'href':"path('user/contact.html.twig')" } })}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}