{% extends 'base.html.twig' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    <div class="bg-light p-3">
        <h1>My Cart</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
    {% if items | length > 0 %}
        <table class="table">
            <thead>
              <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
                  <tr>
                      <td>{{ item.product.nameProduct }}</td>
                      <td>{{ item.product.price }} Dt</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.product.price * item.quantity }} Dt</td>
                      <td>
                          <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                              <i class="fas fa-trash"></i>
                          </a>
                      </td>
                  </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                  <td colspan="3" class="text-right">Total:</td>
                  <td>{{ total }} Dt</td>
                  <td></td>
              </tr>
            </tfoot>
        </table>
        <div>
            {% if app.user %}
            <a href="{{ path('validate_order') }}" class="btn btn-success btn-bg"> Validate order </a>
                    <a href="{{ path('delete_cart_index') }}" class="btn btn-danger btn-bg"> Cancel order </a>

            {% else %}
                <a href="{{ path('validate_order') }}" class="btn btn-success btn-bg"> Validate order</a>
                <a href="{{ path('delete_cart_index') }}" class="btn btn-danger btn-bg"> Cancel order </a>
            {% endif %}

        </div>
    {% else %}
        <p>My cart is empty !</p>
    {% endif %}
        </div>
    </div>


{% endblock %}



